<li id="comment-<%= comment._id %>">
	<%= comment.content %> <% if(locals.user && locals.user.id ==
	comment.user.id){ %>
	<small id="delete">
		<a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>">Delete</a>
	</small>

	<% } %>
	<br />
	<small id="user-comment"> <%= comment.user.name %> </small>
	<br/>
	<small>
		<% if (locals.user){ %>
			<a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
					<%= comment.likes.length %> Likes
			</a>
		<% }else{ %>
			<%= comment.likes.length %> Likes
		<% } %>
	</small>
</li>
